html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {

background-color: rgb(225,231,237);
}

.main {
  margin: 96px auto;
  width: 1140px;

}

.hero_form__image {
  background-image: url("images/foto_glowne._03.jpg");
  height: 500px;
  background-repeat:no-repeat;

}

.hero-form__content {
  display: flex;
  flex-direction: column;


}
.hero-form__header {
  font-size: 150%;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 177px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: rgb(51,54,59);
	display: flex;
	align-self: center;
}

.hero_form__description {
	margin-bottom: 17px;
	margin-top: 39px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: rgb(51,54,59);
	display: flex;
	align-self: center;
}

.search-box__input {
  padding: 15px;
  border-radius: 3px;
  outline: 0;
  border: 0;
  width: 527px;
  height: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
	margin-bottom: 177px;
	margin-left: 264px;
	text-indent: 42px;
}



.search-box__button {

  padding: 15px;
  width: 50px;
  height: 50px;
  border: 0;
margin-left: -0.3em;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
text-align: center;
background-color: rgb(140,145,255);
font-family: 'Roboto', sans-serif;

}


.placeholder {
	width: 527px;
	text-indent: 54px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    opacity:0.7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity:0.7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity:0.7;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity:0.7;
}


.first-row {
	display: flex;
	width: 1140px;
	height: 360px;
	margin-bottom: 30px;
}







.two-boxes {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.two-boxes__left {
	background-image: url("images/yellow-woman.png");
	height: 264px;
	width: 360px;
	background-repeat: no-repeat;
	display: flex;
}
.two-boxes__right {
	background-color: rgb(255,255,255);
	height: 264px;
	width: 390px;
	display: flex;
	flex-direction: column;
}

.two-boxes__right-header {
	text-transform: uppercase;
	font-family: 'roboto' sans-serif;
	margin-top: 30px;
	margin-left: 37px;

	font-weight: 600;
	display: flex;
	flex-direction: column;

}
.two-boxes__right-header:after {
	content: "";
	border-bottom: 2px solid rgb(255, 112, 152);
	width: 40px;
	display: block;
	margin-top: 20px;

}
.two-boxes__right-description {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 37px;
	margin-right: 25px;
	font-family: 'roboto' sans-serif;
	opacity: 0.5;
	filter: alpha(opacity=50);
	line-height: 140%;
}






.bottom-line {
	display: flex;
	flex-direction: row;
}
.bottom-line__alex-circle {
	margin-left: 30px;
	margin-top: 25px;
	display: flex;
}
.bottom-line__name-alex {
	display: flex;
	margin-left: 10px;
	margin-top: 38px;
	font-family: 'roboto' sans-serif;
	font-weight: 600;
}
.like-heart {
	margin-top: 38px;
	margin-left: 166px;
}
.likes {
	margin-left:10px;
	margin-top: 38px;
	opacity: 0.5;
	filter:alpha(opacity=50);
	font-size: 95%;
}





.coffe-box {
	display: flex;
	flex-direction: row;
}
.coffe-box__left-box {
	background-image: url("images/coffee-box.png");
	height: 264px;
	width: 263px;
	margin-top: 30px;
	margin-left: 30px;
	display: flex;
}
.coffe-box__right-column {
	display: flex;
	flex-direction: column;
	margin-top: 29px;
}
.block {
	margin: 1px;
	background-color: rgb(255,255,255);
	width: 97px;
	height: 86.5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.block__description {
	margin-top: 10px;
}





.second-row {
	width: 1140px;
	height: 504px;
	display: flex;

}


.ramsay-card {
	display: flex;
	flex-direction: column;


}
.ramsay-card__mountain {
background-image: url("images/cover1mountain.jpg");
height: 328px;
width: 360px;
background-repeat: no-repeat;
background-color: rgb(255, 255, 255);

}

.ramsay-circle-pic {
display: flex;
margin-left: 118px;
margin-top: 117px;

}

.ramsay-card__mountain-description {
display: flex;
flex-direction: column;
align-items: center;
line-height: 160%;
}
.ramsay-card__mountain-description__name {
	font-size: 110%;
	margin-top: 10px;
	font-weight: bold;
	font-family: "roboto medium" sans-serif;
}
.ramsay-card__mountain-description__job {
	margin-bottom: 30px;
	font-size: 90%;
	color: gray;
}


.ramsay-card__bottom {
	width: 360px;
	height: 176px;
	background-color: rgb(255, 255, 255);
	margin-top: 1.5px;
}

.ramsay-card__bottom__numbers {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 30px;
}

.ramsay-card__bottom__numbers-top {
	color: black;
	font-size: 110%;
	font-weight: 600;
	display: flex;
	justify-content: space-around;

}
.ramsay-card__bottom__numbers-bottom {
	color: gray;
	display: flex;
	justify-content: space-around;
}
.ramsay-button {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.follow-button {
	background-color: rgb(36, 197, 161);
	outline: none;
	height: 50px;
	width: 298px;
	border-radius: 6px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-weight: 600;

}






.video-bunny{
	width: 750px;
	height: 504px;
	background-color: rgb(255, 255, 255);
	margin-left: 30px;
}


.row3 {
	margin-top: 30px;
}
.gentleman {
	width: 1140px;
	height: 1185px;
	background-image: url("images/man-coffee-pic.png") ;
	background-repeat: no-repeat;
	background-color: rgb(255, 255, 255);
	position: relative;
}
.gentleman__top_description {
	font-weight: bold;
	margin-top: 60px;
	margin-left: 98px;
	position: absolute;
	text-transform: uppercase;
	font-size: 75%;
}
.gentleman__top_description:after {
	content: "";
	display: block;
	border-bottom: 1px solid gray;
	margin-top: 10px;
	width: 555px;
	position: absolute;

}
.gentleman__main_description {
	position: absolute;
	margin-top: 230px;
	margin-left: 98px;
	font-size: 3.8em;
	font-weight: 900;
	color: rgb(51, 54, 59);
}
.gentleman__main_description:before {

	content: "";
	display: block;
	border-top: 1px solid gray;
	margin-top: 20px;
	width: 555px;
}

.gentleman__bottom_row {
	position: absolute;
	margin-top: 530px;
	margin-left: 93px;
	display: flex;
	flex-direction: row;
	width: 323px;

	justify-content: space-between;

}
.gentleman__bottom_row__by_julian_fox {
	display: flex;
	flex-direction: row;
}

.JulianFox {
	color: orange;
}

.gentleman__bottom_row:before {
content:"";
display: block;
border-bottom: 1px solid gray;
width: 555px;
position: absolute;

}

.gentleman__white_card {
	position: absolute;
	margin-top: 693px;
	margin-left: 98px;
	display: flex;
	flex-direction: row;
}
.gentleman__white_card__left_column {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	text-align: center;
}
.gentleman__white_card__lef_column__number01 {
	font-size: 5em;
	font-weight: 900;
	color: rgb(237, 239, 242);
	margin-bottom: 40px;
}
.gentleman__white_card__lef_column__introduction {
	text-transform: uppercase;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	margin-top: 5px;
	font-weight: bold;
	font-size: 0.8em;
}

.gentleman__white_card__white_side {
	line-height: 1.5em;
	margin-right: 120px;
	margin-left: 70px;
	text-align: justify;
	color: gray;

}





.row4 {
	margin-top: 30px;
	display: flex;
	flex-direction: row;

}

.row4__right {
	position: relative;
	height: 555px;
	height: 608px;
	background-color: rgb(255, 255, 255);
	text-align: center;
}

.row4__right__under_header {
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 18px;
	font-size: 1.3em;
	color: rgb(51,54,59);
}

.row4__right__header {
	margin-bottom: 88px;
	font-size: 3em;
	font-weight: bold;
	color: rgb(51,54,59);
}
.row4__right__header:after {
	content: "";
	display: block;
	border-bottom: 4px solid black;
	width: 60px;
	margin:0 auto;
	margin-top: 40px;

}
.row4__right__text {
	line-height: 1.5em;
	color: gray;
	margin-bottom: 10px;
}
.row4__right__under_header__button {
	text-transform: uppercase;
	padding:19px 44px;
	border: 1px solid gray;
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	font-size: 0.8em;
	font-weight: 600;
	margin-bottom: 60px;

}



.row5 {
	margin-top: 30px;
}

.white_box_under_diagram {
	width: 750px;
	height: 106px;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	position: relative;

}
.white_box_under_diagram__left__starting_balance {
	margin-left: 30px;
	position: absolute;
}
.white_box_under_diagram__left__amount {
	margin-left: 30px;
	position: absolute;
}
.white_box_under_diagram__right__transacted {
	margin-right: 30px;
	position: absolute;
}
.white_box_under_diagram__right__amount {
	margin-right: 30px;
	position: absolute;
}
