html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
font-family: 'Roboto', sans-serif;
background-color: rgb(225,231,237);
}

.main {
  margin: 96px auto;
  width: 1140px;

}

.hero_form__image {
  background-image: url("images/foto_glowne._03.jpg");
  height: 500px;
  background-repeat:no-repeat;

}

.hero-form__content {
  display: flex;
  flex-direction: column;


}
.hero-form__header {
  font-size: 150%;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 177px;
	font-weight: 600;
	font-size: 24px;
	color: rgb(51,54,59);
	display: flex;
	align-self: center;
}

.hero_form__description {
	margin-bottom: 17px;
	margin-top: 39px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: rgb(51,54,59);
	display: flex;
	align-self: center;
}
.search-box {
	text-align: center;
}

.search-box__input {
  padding: 15px;
  border-radius: 3px;
  outline: 0;
  border: 0;
  width: 490px;
  height: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
	text-indent: 42px;
	vertical-align: middle;

}



.search-box__button {

  padding: 15px;
  width: 50px;
  height: 50px;
  border: 0;

	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	text-align: center;
	background-color: rgb(140,145,255);
	font-family: 'Roboto', sans-serif;
	margin-left: -0.35em;
	vertical-align: middle;
	cursor:pointer;

}



.placeholder {
	width: 527px;
	text-indent: 54px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    opacity:0.7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity:0.7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity:0.7;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity:0.7;
}






.first_row {
	display: flex;
	width: 1140px;
	height: 360px;
}

.post_intro {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.post_intro__image {
	background-image: url("images/yellow_woman_box.jpg");
	height: 264px;
	width: 360px;
	background-repeat: no-repeat;
	display: flex;
	position: relative;
}

.post_intro__image__arrow-left {
	width:0;
	height:0;
	border-top: 12px solid transparent;
	border-right: 10px solid rgb(255,255,255);
	border-bottom: 12px solid transparent;
	position: absolute;
	display: flex;
	align-self: center;
	transform: translateX(350px);
}

.post_intro__text_space {
	background-color: rgb(255,255,255);
	height: 264px;
	width: 390px;
	display: flex;
	flex-direction: column;
}

.post_intro__text_space__header {
	text-transform: uppercase;
	font-family: 'roboto' sans-serif;
	margin-top: 30px;
	margin-left: 37px;
	font-weight: 600;
	display: flex;
	flex-direction: column;

}
.post_intro__text_space__header:after {
	content: "";
	border-bottom: 2px solid rgb(255, 112, 152);
	width: 40px;
	display: block;
	margin-top: 20px;

}
.post_intro__text_space__description {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 37px;
	margin-right: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	opacity: 0.5;
	filter: alpha(opacity=50);
	line-height: 160%;
}






.post_intro__footer {
	display: flex;
	flex-direction: row;
}

.post_intro__author {
display: flex;
flex-direction: row;
}
.post_intro__author__avatar {
	margin-left: 30px;
	margin-top: 25px;
	display: flex;
}
.post_intro__author__name {
	display: flex;
	margin-left: 10px;
	margin-top: 38px;
	font-weight: bold;
	font-size: 0.9em;
}
.post_intro__footer__heart {
	text-align: center;
	vertical-align: middle;
}
.post_intro__footer__heart_pic {
	margin-top: 38px;
	margin-left: 166px;
}
.post_intro__footer__heart_numbers {
	margin-left:10px;
	margin-top: 30px;
	opacity: 0.5;
	filter:alpha(opacity=50);

	}





.social_media_box {
	display: flex;
	flex-direction: row;
}
.social_media_box__image {
	background-image: url("images/coffee-box.png");
	height: 264px;
	width: 263px;
	margin-top: 30px;
	margin-left: 30px;
	display: flex;
}
.social_media_box__icons_column {
	display: flex;
	flex-direction: column;
	margin-top: 29px;
}
.social_media_box__icons_column__block {
	margin: 1px;
	background-color: rgb(255,255,255);
	width: 97px;
	height: 86.5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.social_media_box__icons_column__block__description {
	margin-top: 10px;
}





.second-row {
	width: 1140px;
	height: 504px;
	display: flex;
}

.profile_card {
	display: flex;
	flex-direction: column;
}
.profile_card__background {
background-image: url("images/cover1mountain.jpg");
height: 328px;
width: 360px;
background-repeat: no-repeat;
background-color: rgb(255, 255, 255);
}

.profile_card__avatar {
display: flex;
margin-left: 118px;
margin-top: 117px;
}

.profile_card__description {
display: flex;
flex-direction: column;
align-items: center;
line-height: 160%;
}

.profile_card__name {
	font-size: 110%;
	margin-top: 10px;
	font-weight: bold;
	font-family: "roboto medium" sans-serif;
}
.profile_card__position {
	margin-bottom: 30px;
	font-size: 90%;
	color: gray;
}

.profile_card__footer {
	width: 360px;
	height: 176px;
	background-color: rgb(255, 255, 255);
	margin-top: 1.5px;
}

.profile_card__footer__social_media {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 30px;
}

.profile_card__footer__social_media__numbers {
	color: black;
	font-size: 110%;
	font-weight: 600;
	display: flex;
	justify-content: space-around;
}

.profile_card__footer__social_media__description {
	color: gray;
	display: flex;
	justify-content: space-around;
}

.profile_card__footer__button {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.profile_card__footer__button__follow {
	outline: none;
	height: 50px;
	width: 298px;
	border-radius: 6px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}

.profile_card__footer__button__follow:hover {
	background-color: rgb(36, 197, 161);
	color:white;
	cursor:pointer;
}

.video-bunny{
	width: 750px;
	height: 504px;
	background-color: rgb(255, 255, 255);
	margin-left: 30px;
}




.row3 {
	margin-top: 30px;
}
.full_article {
	width: 1140px;
	height: 1185px;
	background-image: url("images/man-coffee-pic.png") ;
	background-repeat: no-repeat;
	background-color: rgb(255, 255, 255);
	position: relative;
}
.full_article__top_description {
	font-weight: bold;
	margin-top: 60px;
	margin-left: 98px;
	position: absolute;
	text-transform: uppercase;
	font-size: 75%;
}
.full_article__top_description:after {
	content: "";
	display: block;
	border-bottom: 1px solid gray;
	border-bottom-style: double;
	margin-top: 10px;
	width: 555px;
	position: absolute;
}
.full_article__main_description {
	position: absolute;
	margin-top: 230px;
	margin-left: 98px;
	font-size: 3.8em;
	font-weight: 900;
	color: rgb(51, 54, 59);
}
.full_article__main_description:before {
	content: "";
	display: block;
	border-top: 1px solid gray;
	border-top-style: double;
	margin-top: 20px;
	width: 555px;
}

.full_article__bottom_description {
	position: absolute;
	margin-top: 530px;
	margin-left: 93px;
	display: flex;
	flex-direction: row;
	width: 323px;
	justify-content: space-between;
}

.full_article__bottom_description:before {
content:"";
display: block;
border-bottom: 1px solid gray;
width: 555px;
position: absolute;
}

.full_article__bottom_description__article_author {
	display: flex;
	flex-direction: row;
}

.full_article__bottom_description__article_author__name {
	color: orange;
}

.full_article__text_space {
	position: absolute;
	margin-top: 693px;
	margin-left: 98px;
	display: flex;
	flex-direction: row;
}
.full_article__text_space__vertical_space {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	text-align: center;
}
.full_article__text_space__vertical_space__number {
	font-size: 5em;
	font-weight: 900;
	color: rgb(237, 239, 242);
	margin-bottom: 40px;
}
.full_article__text_space__vertical_space_description {
	text-transform: uppercase;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	margin-top: 5px;
	font-weight: bold;
	font-size: 0.8em;
}

.full_article__text_space__main {
	line-height: 1.5em;
	margin-right: 120px;
	margin-left: 70px;
	text-align: justify;
	color: gray;
}




.row4 {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}

.full_article__second {
	position: relative;
	height: 555px;
	height: 608px;
	background-color: rgb(255, 255, 255);
	text-align: center;
}

.full_article__second__top_description {
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 18px;
	font-size: 1.1em;
	color: rgb(51,54,59);
	font-style: italic;
}

.full_article__second__main_description {
	font-size: 3em;
	font-weight: bold;
	color: rgb(51,54,59);
}
.full_article__second__main_description:after {
	content: "";
	display: block;
	border-bottom: 4px solid black;
	width: 60px;
	margin:0 auto;
	margin-top: 40px;

}
.full_article__second__text_space {
	line-height: 2em;
	color: gray;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 43px;
	font-size: 1.1em;

}
.full_article__second__button {
	text-transform: uppercase;
	padding:19px 44px;
	border: 1px solid gray;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	font-size: 0.8em;
	font-weight: 600;
	margin-top: 60px;
	cursor: pointer;
	}
.full_article__second__button:hover {
	background-color: rgb(92,188,255);
	color: rgb(255, 255, 255);
	border: none;
	outline: none;
}


.row5 {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}

	.contact_box {
		width: 360px;
		margin-left: 30px;
		display: flex;
		flex-direction: column;
	}
	.contact_box__nav {
		background-color: rgb(92,188,255);
		height: 73px;
		color: rgb(255,255,255);
		display: flex;
		align-items: center;
	}
	.contact_box__nav__email {
		margin-left: 30px;
	}
	.contact_box__nav__email__dropdown {
		margin-left: 12px;
	}
	.contact_box__nav__email__settings {
		margin-left: 109px;
	}
	.contact_box__2row {
		display: flex;
		align-items: center;
		height: 73px;
		margin-top: 2px;
		background-color: rgb(255,255,255);
	}

	.contact_box__2row__inbox_icon {
	margin-left: 30px;
	}

	.contact_box__2row__inbox {
	margin-left: 20px;
	}
	.contact_box__2row__inbox__4021 {
		padding: 6px 11px 7px 10px;
		background-color: rgb(92,188,255);
		color: white;
		border-radius: 1px;
		margin-left: 183px;
	}

	.contact_box__3row {
		background-color: rgb(255,255,255);
		height: 73px;
		display: flex;
		align-items: center;
		margin-top: 2px;
	}

	.contact_box__4row {
		background-color: rgb(255,255,255);
		height: 73px;
		display: flex;
		align-items: center;
		margin-top: 2px;
	}

	.contact_box__5row {
		background-color: rgb(255,255,255);
		height: 73px;
		display: flex;
		align-items: center;
		margin-top: 2px;
	}

	.contact_box__6row {
		background-color: rgb(255,255,255);
		height: 186px;
		margin-top: 2px;
	}

.tags-drops {
	display: flex;
	flex-direction: row;
	margin-left: 30px;
	margin-top: 36px;
}

.contact_box__6row__button {
	padding: 20px 115px;
	background-color: rgb(255,255,255);
	text-transform: uppercase;
	outline: none;
	border: 1px solid gray;
	border-radius: 3px;
	margin-top: 56px;
	display: flex;
	align-self: center;
	position: absolute;
	}
.contact_box__6row__button:hover {
	background-color: rgb(92,188,255);
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
}



	.row6 {
	margin-top: -0.1em;
	}

	.white_box_under_diagram {
		width: 750px;
		height: 106px;
		background-color: rgb(255, 255, 255);
		position: relative;
	}

	.white_box_under_diagram__left {
		display: flex;
		flex-direction: column;
	}

	.white_box_under_diagram__right {
		display: flex;
		flex-direction: column;
	}

	.white_box_under_diagram__left__starting_balance {
		left: 30px;
		position: absolute;
		top: 30px;
		font-size: 1.2em;
		font-weight: bold;
		color: rgb(51,54,59);
	}

	.white_box_under_diagram__left__amount {
		left: 30px;
		position: absolute;
		top: 65px;
		color: gray;
		font-size: 0.9em;
	}

	.white_box_under_diagram__right__transacted {
		right: 30px;
		position: absolute;
		top: 30px;
		font-size: 1.2em;
		font-weight: bold;
		color: rgb(51,54,59);
	}

	.white_box_under_diagram__right__amount {
		right: 114px;
		position: absolute;
		top: 65px;
		color: gray;
		font-size: 0.9em;
		}

	.player {
			background-color: rgb(255,255,255);
			height: 140px;
			width: 1140px;
			margin-top: 30px;
			display: flex;
		}

		.player__woman_violin {
			display: flex;
			align-self: center;
			margin-left: 30px;
		}
